@import "tailwindcss";

@theme {
  --color-cyber-blue: #00f0ff;
  --color-cyber-purple: #9d00ff;
  --color-cyber-green: #00ffaa;
  --color-cyber-red: #ff0055;
}

body {
  background-color: #020202;
  color: white;
  font-family: 'Outfit', sans-serif;
  background-attachment: fixed;
}

.glass-panel {
  background-color: rgba(255, 255, 255, 0.015);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  border-radius: 1rem;
  transition: all 500ms;
}

.animate-grid-flow {
  animation: grid-flow 20s linear infinite;
}

@keyframes grid-flow {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 160px 160px;
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}

.animate-spin-slow {
  animation: spin 8s linear infinite;
}

.neon-border-blue {
  box-shadow: 0 0 20px rgba(0, 240, 255, 0.2);
  border: 1px solid rgba(0, 240, 255, 0.4);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f0ff;
}